name: automatic npm publishing workflow
on: [push]
jobs:
  build:
    strategy:
      matrix:
        node-version: ['18.x', '20.x', '22.x']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i
      - run: npm build
      - run: npm test
  publish-npm:
    needs: build
    strategy:
      matrix:
        node-version: ['18.x', '20.x', '22.x']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
